<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Guri-Diary.ttf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>나눔손글씨 힘내라는 말보단.ttf</string>
		<string>나눔손글씨 장미체.ttf</string>
		<string>나눔손글씨 잘하고 있어.ttf</string>
		<string>나눔손글씨 의미있는 한글.ttf</string>
		<string>나눔손글씨 우리딸 손글씨.ttf</string>
		<string>나눔손글씨 연지체.ttf</string>
		<string>나눔손글씨 범솜체.ttf</string>
		<string>나눔손글씨 배은혜체.ttf</string>
		<string>나눔손글씨 바른히피.ttf</string>
		<string>나눔손글씨 바른정신.ttf</string>
		<string>나눔손글씨 미래나무.ttf</string>
		<string>나눔손글씨 몽돌.ttf</string>
		<string>나눔손글씨 딸에게 엄마가.ttf</string>
		<string>나눔손글씨 동화또박.ttf</string>
		<string>나눔손글씨 다시 시작해.ttf</string>
		<string>나눔손글씨 느릿느릿체.ttf</string>
		<string>나눔손글씨 나의 아내 손글씨.ttf</string>
		<string>나눔손글씨 나무정원.ttf</string>
		<string>나눔손글씨 김유이체.ttf</string>
		<string>나눔손글씨 기쁨밝음.ttf</string>
		<string>나눔손글씨 곰신체.ttf</string>
		<string>나눔손글씨 고딕 아니고 고딩.ttf</string>
		<string>나눔손글씨 강부장님체.ttf</string>
		<string>나눔손글씨 가람연꽃.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
